<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/app.css">
<head>
	<title>Blog Markdown</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="row ">
		{{if .Session.Unauthenticated}}
		<form action="/register" method="POST">
			<div><input type="text" name="user_name" placeholder="User name"/></div>
			<div><input type="email" name="user_email" placeholder="Your email" /></div>
			<div><input type="password" name="user_password" placeholder="Password" /></div>
			<div><input type="password" name="user_password2" placeholder="Password (repeat)" /></div>
			<div><input type="submit" value="Register" /></div>
		</form>
		{{end}}

		<div class="medium-12 columns alignLeft">

			<h1>{{.Title}}</h1>
			<p>
				{{.Content}}
			</p>
			<div class="alignLeft">{{.Date}}</div>
		</div>


		{{range .Comments}}

		<div class="medium-12 columns">
			<h3>Comment by {{.Name}} ({{.Email}})</h3>
			<p>{{.CommentText}}</p>
		
		</div>

		<div class="medium-12 columns">
			<h2>Edit</h2>
			<form action="/api/commentz" class="theForm" method = "POST">
				<input type="text" name="id" class="forms" value="{{.Id}}" />
				<input type="text" name="name" class="forms" placeholder="Your Name" value="{{.Name}}" />
				<input type="text" name="email" class="forms" placeholder="Your Email" value="{{.Email}}" />
				<textarea class="text" name="comments" class="forms">{{.CommentText}}</textarea>
				<!--<input class="theButtons button" type="submit" value="Edit" />-->
				<input class="theButtons button" type="button" value="Edit" />
			</form>
			<!--<button id="theButton" class="button" />Change</button>-->
		</div>
		{{end}}


		
		<form action="/api/comments" method="POST">
			<div class="medium-12 columns ">
				<div class="text">
					<input type="hidden" name="guid" value="{{.GUID}}" />
				</div>
				<div class="text">
					<input type="text" name="name" placeholder="Your Name" />
				</div>
				<div class="text">
					<input type="email" name="email" placeholder="Your Email" />
				</div>
				<div class="textarea">
					<textarea name="comments" placeholder="Your Comments"></textarea>
				</div>
				<div>
					<input type="submit" class="button" value="Add Comments" />
				</div>
			</div>
		</form>
		
	</div>
		

</body>


<script>
	$(document).ready(
		
		function()
		{
			console.log("ready firing??");
			$(".theButtons.button").click(
				
				function(e)
				{
					console.log("myForm Firing??");
					alert( "Handler for .submit() called." );
					
					var theData = 
					{
						'id'		: $('input[name=id]').val(),
						'name'		: $('input[name=name]').val(),
						'email'		: $('input[name=email]').val(),
						'comments'	: $('textarea[name=comments]').val()
					};

					jsonObject =JSON.stringify(theData);
					console.log(jsonObject);
					//var id = $(el).find('.edit_id').val();
					//var name = $(el).find('.edit_name').val();
					//var email = $(el).find('.edit_email').val();
					//var text = $(el).find('.edit_comments').val();
					$.ajax({
						url: '/api/commentz',
						type: 'PUT',
						contentType:"application/json; charset=utf-8",
						dataType: 'json',
						data: jsonObject})
					.done(function(jsonObject){
						console.log(jsonObject);
					});

					// I prefer to move this to the bottom incase it fails for whatever reason the rest of the code will still run.
					e.defaultPrevented();
					return false;
				});
		});
</script>

</html>
